<!--
    - #FOOTER
  -->

<footer class="footer" data-section>
    <div class="container">

        <div class="footer-top">

            <ul class="footer-list">

                <li>
                    <p class="footer-list-title">SKINLELE</p>
                </li>

                <li>
                    <p class="footer-list-text bold">0986538387</p>
                </li>

                <li>
                    <p class="footer-list-text">skinlele02@gmail.com</p>
                </li>

            </ul>

            <ul class="footer-list">

                <li>
                    <p class="footer-list-title">Liên kết hữu ích</p>
                </li>

                <li>
                    <a href="#" class="footer-link">Trang Điểm</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Chăm Sóc Da</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Tạp Chí Làm Đẹp</a>
                </li>

            </ul>

            <ul class="footer-list">

                <li>
                    <p class="footer-list-title">Thông Tin</p>
                </li>

                <li>
                    <a href="#" class="footer-link">Liên Hệ</a>
                </li>

            </ul>
            <div class="footer-list">
                <p class="newsletter-title">Good emails.</p>

                <p class="newsletter-text">
                    Nhập email của bạn dưới đây để là người đầu tiên biết về các bộ sưu tập mới và ra mắt sản phẩm.
                </p>
                <form action="" class="newsletter-form">
                    <input type="email" name="email_address" placeholder="Nhập địa chỉ email" required
                        class="email-field">

                    <button type="submit" class="btn btn-primary">Đăng Ký</button>
                </form>

            </div>
        </div>
    </div>
</footer>

<!--
    - #BACK TO TOP
  -->