<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
</head>

<body>
    <script>
        var message = '<%= message %>'
        var url = '<%= url %>'
        alert(message);
        window.location.href = url;
    </script>
</body>

</html>